.Home{
    background-color: rgb(247, 247, 244);
    width: 350px;
    height: 350px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
  }
  nav {
    display: flex;
    align-items: baseline;
    
  }